:root {
	--sim-wrapper-vertical-padding: 25px;
	--sim-wrapper-horizontal-padding: 25px;

	--circle-wrapper-height: 100%;
	--circle-wrapper-width: 100%;

	--node-diameter: calc(var(--circle-wrapper-width) / 7);

	--x1: 0px;
	--y1: 0px;

	--x2: 0px;
	--y2: 0px;
}

.sim-wrapper {
	box-sizing: border-box;
  	height: calc(0.65 * (100vh - 46px));
	background-color: #f1f5fd;

	padding-top: var(--sim-wrapper-vertical-padding);
	padding-bottom: var(--sim-wrapper-vertical-padding);
	padding-left: var(--sim-wrapper-horizontal-padding);
	padding-right: var(--sim-wrapper-horizontal-padding);

	text-align: center;
}

.circle-wrapper {
	position: relative;
	display:inline-block;
	box-sizing: border-box;

	height: var(--circle-wrapper-height);
	width: var(--circle-wrapper-width);

	/* border: dashed 1px; */
	border: none;
	border-radius: 50%;
}

.dot {
	box-sizing: border-box;
	height: var(--node-diameter);
	width: var(--node-diameter);
	text-align: center;
	line-height: calc(var(--node-diameter) - 2px); /* minus border width, we need to reset this with js for some rsn*/
	font-family: 'Inconsolata', monospace;
	font-weight: bold;

	border: 2px solid #282c34;
	background-color: #f1f5fd;
	border-radius: 50%;
	display: inline-block;

	position: absolute;
	top: 50%;
	left: 50%;
	margin: calc(-1 * var(--node-diameter) / 2);
}

.msg {
	box-sizing: border-box;
	height: 50px;
	width: 50px;
	background: none;
	border: 2px solid blue;
	border-radius: 2px;
	position: absolute;
}

@keyframes msg1 {
	from {left:155px; top:-25px}
	to {left:0px; top:200px}
}