header {
  height: 46px;
  width: 100%;
}

nav {
  line-height: 46px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-title {
  display: inline-block;
  font-family: 'Inria Serif', serif;
  font-size: 22px;
}

.menu-btn {
  height: 46px;
  width: 25px;
  float: right;
}

.menu {
  z-index: 99;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 100vw;
  min-height: 100%;
  background-color: #f1f5fd;
  visibility: hidden;

  width: 100vw;
  padding: 15px;

  transition: 0.3s ease-in-out;
}

.menu-active {
  visibility: visible;
  transform: translate3d(-60vw,0,0);
}

.menu-full {
  visibility: visible;
  transform: translate3d(-100vw,0,0);
}

.overlay {
  z-index: 99;
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 100vw;
  background-color: black;
  visibility: hidden;
  opacity: 0;

  transition: 0.3s ease-in-out;
}

.overlay-active {
  visibility: visible;
  opacity: 0.6;
  transform: translate3d(-60vw,0,0);
}

.menu-close {
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(100vw - 50px - 15px); /* minus width minus menu padding */
}
  
.menu-close path,
.menu-close polygon,
.menu-close rect {
  fill: #282c34;
}

.menu-close circle {
  stroke: #282c34;
  stroke-width: 1;
}

.initial-contents {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: calc(60vw - 30px);
}

.initial-contents li {
  font-family: 'Inria Serif', serif;
}

.initial-contents li h2 {
  margin: 20px;
  font-weight: normal;
  border-bottom: 2px solid #282c34;
}

.tutorial-li-highlight {
  color: red;
  animation: blink 0.8s step-start 0s infinite;
  -webkit-animation: blink 0.8s step-start 0s infinite;
}

.back-to-menu {
  height: 50px;
  line-height: 50px;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid #282c34;
  border-radius: 10px;
}

.menu-content-wrapper {
  text-align: center;
  max-width: 767px;
  margin: auto;
}

.contents-hero {
  font-family: 'Inria Serif', serif;
  color: #282c34;
  text-align: center;
}

.tutorial-first-fade {
  animation: fadein 1s;
}

.tutorial-second-fade {
  animation: fadein-second 3s;
}

.tutorial-third-fade {
  animation: fadein-third 5s;
}

.menulist li {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menulist p {
  margin: 0;
  margin-bottom: 5px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein-second {
  0% { opacity: 0; }
  33%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein-third {
  0% { opacity: 0; }
  60%   { opacity: 0; }
  100% { opacity: 1; }
}

.showcase {
  box-sizing: border-box;
  position: relative;
  /* border: 1px solid black; */
  max-width: 750px;
  margin: auto;
  text-align: left;
  margin-top: 15px;
}

.msg-showcase {
  box-sizing: border-box;
  height: var(--node-diameter);
  width: var(--node-diameter);
  line-height: var(--node-diameter);
  background-color: rgba(24, 205, 250, 0.904);
  border: 2px solid #282c34;
  border-radius: 2px;
  font-weight: bold;

  display: inline-block;
  text-align: center;
  margin: 0 10%;
}

.showcase-3 {
  text-align: right;
}

.msg-showcase-3 {
  margin: 0;
}

.s3n2 {
  transform: translate(var(--node-diameter), 0);
}

.s3n1 {
  transform: translate(calc(var(--node-diameter) * 2), 0);
}

.half {
  width: 50%;
  display: inline-block;
}

.float-right {
  float: right;
}

.tut-clock-label {
  display: inline-block;
  margin: auto;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #282c34;
  font-family: 'Inconsolata', monospace;
}

.margin-auto {
  margin: auto;
}

.display-block {
  display: block;
}

.open-examples {
  font-weight: bold;
}

.dot-showcase {
	box-sizing: border-box;
	height: var(--node-diameter);
  width: var(--node-diameter);

	text-align: center;
	line-height: calc(var(--node-diameter) - 2px); /* minus border width, we need to reset this with js for some rsn*/
	font-family: 'Inconsolata', monospace;
	font-weight: bold;

	border: 2px solid #282c34;
	background-color: #ccd0da;
	border-radius: 50%;
	display: inline-block;

	float: right;
}

.extra-p-margin li p {
  margin: 15px 0;
}

.ex-clock-label {
  display: inline-block;
  margin: auto;
  margin: 10px;
  padding: 10px;
  background-color: #282c34;
  font-family: 'Inconsolata', monospace;
}