.console {
    box-sizing: border-box;
    overflow: scroll;

    /* height: calc(0.35 * (100vh - 46px)); */
    min-height: 75vh;
    font-family: 'Inconsolata', monospace;
    background-color: #282c34;
    color: #f1f5fd;
    padding: 15px;
}

textarea {
    box-sizing: border-box;
    width: calc(100% - var(--prompt-width) - 5px);
    float: right;

    background-color: #282c34;
    color: #f1f5fd;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
}

.before-textarea {
    display: inline-block;
    padding-top: 2px;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}
@-webkit-keyframes blink {
    50% {
        opacity: 0.0;
    }
}
.blink {
    animation: blink 3s step-start 0s infinite;
    -webkit-animation: blink 3s step-start 0s infinite;
}

.liveinfo {
    box-sizing: border-box;
    overflow: visible;
    min-height: 75vh;
}

.gray {
    color: #6e788f;
}

.blue {
    color: #18cdfa;
}

.yellow {
    color: #f1ef43;
}

.sky {
    color: #f1f5fd;
}

.liveinfo-h3 {
    margin: 0;
    text-align: center;
    color: #f1ef43;
    font-weight: normal;
}

.nodeinfo-h3 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #f1ef43;
    font-weight: normal;
}

.payloadinfo-h3 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #18cdfa;
    font-weight: normal;
}

.instrprogress {
    margin: 10px 0 20px 0;
    text-align: center;
}

.instrlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.instrlist li {
    border-top: 1px solid #5a6274;
    border-bottom: 1px solid #5a6274;
    padding-top: 10px;
    padding-bottom: 10px;
}

.first {
    border-top: none !important;
}

.last {
    border-bottom: none !important;
}

.listlabel {
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    float: left;
}

.listmsg {
    display: inline-block;
}